body {
  margin: 0;
}

.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-container {
  width: 90%;
  max-width: 700px;
}

.arrow-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.review-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

.review-carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-review-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-img {
}

.user-name {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
}

.user-company-name {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #171f46;
}

.user-review-description {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #171f46;
  text-align: center;
}
